/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

h2 {
  text-align: 'center';
}

.center {
  text-align: 'center';
}
.weatherSelectorContainer {
  display: flex;
  flex-direction: row;
}
#weatherImg {
  width: 100px;
}

.vertical-center {
  justify-content: center;
}
